<!-- howdy/templates/index.html -->
<!DOCTYPE html>
<html>
        {% csrf_token %}
        <script type="text/javascript">
        // using jQuery
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        </script>
    <head>
        <meta charset="utf-8">
        <title>Howdy!</title>
    </head>
    <body>
        <h1>Howdy! I am Learning Django!</h1>
        <a href="/about/">About Me</a><br>
        <a href="/food">Food</a><br>
        <a href="/stock">Stock Checker</a><br>
        <a href="/moving">Moving</a><br>
        <a href="/form">Form</a><br>
        <html></html>         
    </body>
</html>