<!DOCTYPE HTML>

<html>
<head>
<style>
table th, table td {
    width: 400px;
    height:70px;
}
table span {
    display:block;
    background-color: #ccc;
    border: 1px solid black;
    color: fff;
    height: 100%;
    width: 100%;
}
</style>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$(document).ready(function drag_item() {
    $('.event').on("dragstart", function (event) {
        var dt = event.originalEvent.dataTransfer;
        dt.setData('Text', $(this).attr('id'));
    });
    $('table td').on("dragenter dragover drop", function (event) {
        event.preventDefault();
        if (event.type === 'drop') {
            var data = event.originalEvent.dataTransfer.getData('Text', $(this).attr('id'));
            de = $('#' + data).detach();
            de.appendTo($(this));
        };
    });
})
function GetColumnValues() {
        var table = document.getElementById("elements_to_transport");
        var element = table.innerHTML;
        if (element != null) {
            $.post(element);
        } else {
            alert("No element selected");
        }
}        
</script>
</head>
<body>
<p><a href="/">Main page</a></p>
<table id="headers" border="1">
    <tr>
        <th>Elements to reansport</th>
        <th>Elements</th>
    </tr>
</table>
<table border="1" id="table_of_elements"> 
    <tr>
        <td id="elements_to_transport" >  
        </td>
        <td id="elements">
            {% load static %}
            {% for keys, values in content.items %}
                        <img class="event" id="item{{ forloop.counter }}" draggable="true" src="{% static values %}" >
            {% endfor %}  
        </td>
    </tr>
</table>
<button action="button" onclick="GetColumnValues()">Select elements to transport</button>    
</body>
</html>
