<!DOCTYPE HTML>

<html>
<head>
<style>
table th, table td {
    width: 200px;
    height:70px;
}
table span {
    display:block;
    background-color: #ccc;
    border: 1px solid black;
    color: fff;
    height: 30px;
    width: 100%;
}
</style>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$(document).ready(function () {
    $('.event').on("dragstart", function (event) {
        var dt = event.originalEvent.dataTransfer;
        dt.setData('Text', $(this).attr('id'));
    });
    $('table td').on("dragenter dragover drop", function (event) {
        event.preventDefault();
        if (event.type === 'drop') {
            var data = event.originalEvent.dataTransfer.getData('Text', $(this).attr('id'));
            de = $('#' + data).detach();
            de.appendTo($(this));

        };
    });
})
</script>

</head>
<body>
<p></p>
<table id="#our_table" border="1">
    <tr>
        <th>Elements to reansport</th>
        <th>Elements</th>
    </tr>
    <tr>
    <td>
    <td>
    {% load static %}
    {% for keys, values in content.items %}
    <img class="event" id="item{{ forloop.counter }}" draggable="true" src="{% static values %}" >
    {% endfor %}  
    </td>
    </tr>
</table>
</body>

</html>
